.row {
    display: flex;
    flex-wrap: wrap; /* Allows panes to wrap to the next line if needed */
    gap: var(--margin-large); /* Optional spacing between panes */
}

.pane {
    flex: 1 1 calc(50% - 20px);
    background-color: var(--bg-secondary);
    overflow: hidden;
    overflow: clip;
    box-sizing: border-box;
    border-radius: 16px;
    padding: var(--padding-large);
    box-shadow: var(--shadow-medium);
    cursor: grab; /* Indicates draggable behavior */
}

.pane:active {
    cursor: grabbing;
}

.dragging {
    opacity: 0.5; /* Pane appears semi-transparent while being dragged */
}

.drag-over {
    border: 2px dashed var(--primary-color); /* Highlight drop area */
}

.home-details-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--margin-small);
}

.home-info {
    display: row;
    grid-template-columns: 1fr 1fr;
    gap: var(--margin-large);
    background-color: var(--bg-secondary);
    padding: var(--padding-large);
    border-radius: var(--radius-medium);
    margin: var(--margin-medium);
    box-shadow: var(--shadow-medium);
}

.feature-list {
    margin-left: var(--margin-medium);
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--padding-medium);
    background-color: var(--bg-secondary);
    border-radius: var(--radius-medium);
    box-shadow: var(--shadow-medium);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}